<div class="jumbo-banner-green no-pad-bot">
    <div class="container">
        <div class="section center-align no-pad-top">
            <h5 class="flow-text no-pad-bot" style="color: white; font-weight: 300; margin-bottom: 0;" >{{name}}</h5>
            <table>
            <tr align="center">
                <td>
                    <div style="padding: 20px 0px 0px 110px;">
                        <a class="waves-effect waves-light btn truk-red" ng-click="navToGame1()">
                            Game 1<i class=" "></i>
                        </a>
                    </div>
                </td>
                <td>
                    <div style="padding: 20px 0px 0px 0px;">
                        <a class="waves-effect waves-light btn truk-red" ng-click="navToGame2()">
                            Game 2<i class=" "></i>
                        </a>
                    </div>
                </td>
            </tr>
                <tr align="center">
                    <td>
                        <div style="padding: 20px 0px 0px 110px;">
                            <a class="waves-effect waves-light btn truk-red" ng-click="navToGame3()">
                                Game 3<i class=" "></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div style="padding: 20px 0px 0px 0px;">
                            <a class="waves-effect waves-light btn truk-red" ng-click="navToGame4()">
                                Game 4<i class=" "></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="padding: 20px 0px 0px 0px;">
                <a class="waves-effect waves-light btn truk-red" ng-click="navToOptions()">
                    Options<i class=" right"></i>
                </a>
            </div>

            <div style="padding: 20px 0px 0px 0px;">
                <a class="waves-effect waves-light btn truk-red" ng-click="navBack()">
                    Back<i class="right"></i>
                </a>
            </div>
        </div>
    </div>
</div>


