<div class="jumbo-banner-green no-pad-bot" ng-init="init()">
    <div class="container">
        <div class="section center-align no-pad-top">
            <h5 class="flow-text no-pad-bot" style="color: white; font-weight: 300; margin-bottom: 0;" >{{name}}</h5>

            <div style="padding: 20px 0px 0px 0px;">
                <a class="waves-effect waves-light btn truk-red" ng-click="navBack()">
                    Back<i class="right"></i>
                </a>
            </div>

            <div>
                <a class="waves-effect waves-light btn truk-red" ng-click="clearStages()">
                    Close Game<i class="mdi-content-send right"></i>
                </a>
            </div>

        </div>
    </div>
</div>


