<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
                <a class="btn btn-primary btn-block" ng-click="navToInstructor()">
                    Instructor Setup
                </a>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
                <a class="btn btn-primary btn-block" ng-click="navToGame()">
                    Play Game
                </a>
            </div>
        </div>
    </div>
</div>
