<div class="row" style="padding-top: 85px;">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">

                <div class="jumbotron">
                    <h1>Welcome!</h1>
                    <p>This is a wonderful place to learn and practice using ratios!</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>


                <a class="btn btn-primary btn-block" ng-click="navToGame()">
                    <h4>Play Game</h4>
                </a>
            </div>
        </div>
    </div>
</div>
