<div class="jumbo-banner-green no-pad-bot">
    <div class="container">
        <div class="section center-align no-pad-top">
            <h5 class="flow-text no-pad-bot" style="color: white; font-weight: 300; margin-bottom: 0;" >{{name}}</h5>

            <div style="padding: 20px 0px 0px 0px;">
                <a class="waves-effect waves-light btn truk-red" ng-click="navToInstructor()">
                    Instructor Setup<i class="mdi-content-send right"></i>
                </a>
            </div>
            <div style="padding: 20px 0px 0px 0px;">
                <a class="waves-effect waves-light btn truk-red" ng-click="navToGame()">
                    Play Game<i class="mdi-content-send right"></i>
                </a>
            </div>

        </div>
    </div>
</div>


