/* TrukSpot Branding */

.truk-red {
    background: #d4274e;
}
.truk-light-grey {
    background: #c1c1c1;
}
.truk-grey {
    background: #9a9a9a;
}
.truk-light-green {
    background: #78f4b9;
}
.truk-green {
    background: #27d4ad;
}
.truk-dark-green {
    background: #0ea79c;
}

.brand-logo {

}

.btn:hover, .btn-large:hover {
    background-color: #0ea79c;
}

.input-field .prefix.active {
    color: #0ea79c;
}

/* Fonts */

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster%201.4.otf');
    font-weight: normal;
    font-style: normal;
}

.lobsterize{
    font-family:'Lobster';
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

/* Header */

.header-link:focus {
    outline: 0;
}

/* Beta Banner */

.corner-ribbon{
    width: 200px;
    background: #d4274e;
    position: static;
    top: 10px;
    left: -70px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 10;
}

.corner-ribbon.sticky{
    position: absolute;
}

/* Home Page*/

.jumbo-banner-green {
    height: 333px;
    background-image: -ms-linear-gradient(left, #27D4AD 0%, #78F4B9 100%);
    background-image: -moz-linear-gradient(left, #27D4AD 0%, #78F4B9 100%);
    background-image: -o-linear-gradient(left, #27D4AD 0%, #78F4B9 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #27D4AD), color-stop(1, #78F4B9));
    background-image: -webkit-linear-gradient(left, #27D4AD 0%, #78F4B9 100%);
    background-image: linear-gradient(to right, #27D4AD 0%, #78F4B9 100%);
}
.jumbo-banner-icon {
    height: 150px;
    width: 150px;
}