/* RadicalRatios Branding */
.navbar {
    min-height: 32px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    color: #fff !important;
    font-size: 35px !important;
    float:none;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
}

body {
 /* padding-top: 85px; // subject to change*/
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.row-space {
    margin-top: 15px;
}

/* Fonts */

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster%201.4.otf');
    font-weight: normal;
    font-style: normal;
}

.lobsterize{
    font-family:'Lobster';
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

/* Beta Banner */

.corner-ribbon{
    width: 200px;
    background: #d4274e;
    position: static;
    top: 10px;
    left: -70px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 100000;
}

.corner-ribbon.sticky{
    position: absolute;
}

span.glyphicon-cog {
    font-size: 1.5em;
}

span.glyphicon-volume-up {
    font-size: 1.5em;
}

span.glyphicon-volume-off {
    font-size: 1.5em;
}

span.glyphicon-ok {
    font-size: 1.5em;
}

span.glyphicon-remove {
    font-size: 1.5em;
}

.progress-bar {
    width: 10%;
}
