<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#" style=" font-size: 38px;font-family: lobster; color:black;">Radical Ratios</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-cog" ng-click="optionsModal()"></span></a></li>
            </ul>
        </div>
    </div>
</nav>