<head>
    <style>

        .container-canvas {
            /* This could be done in one single declaration. See the extended sample. */
            margin-right: auto;
            margin-left: auto;
            width: 800px;
        }
    </style>
</head>
<div class="row">
    <head>
        <style>


        </style>
    </head>
    <div class="col-sm-12" style="height:515px;">
        <div id="question" class="well" style="padding:0px; background-color: rgba(245,245,245, .6);">
            <h3 style="text-align:center; margin-top: 10px; margin-bottom: 10px;">The following shapes are similar figures, find x.</h3>
        </div>

        <div id="progressBar" class="progress" style="height: 22px; background-color: rgba(245,245,245, .6);">
        </div>

        <div class="row container-canvas">
            <canvas id="myCanvas2" width="800" height="400" style="border:5px solid #000000; background-color: rgba(245,245,245, .6);">
            </canvas>
        </div>
    </div>

    <div class="row row-space col-sm-12" style="margin-top:0px;">
        <div class="col-sm-3">
            <a class="btn btn-primary btn-block" style="margin-top: 20px;">
                <h4 id="answer1"></h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-primary btn-block" style="margin-top: 20px;" >
                <h4 id="answer2"></h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-primary btn-block" style="margin-top: 20px;">
                <h4 id="answer3"></h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-primary btn-block" style="margin-top: 20px;" >
                <h4 id="answer4"></h4>
            </a>
        </div>
    </div>
    <div class="row row-space col-sm-12">
        <div class="col-sm-12">
            <a class="btn btn-primary btn-block" style="margin-top: 20px;" ng-click="navBack()">
                <h4>Back</h4>
            </a>
        </div>
    </div>
</div>



