*{
    margin: 0;
    padding: 0;
}

p, span, h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* The ribbons */

.corner-ribbon{
    width: 200px;
    background: #d4274e;
    position: static;
    top: 10px;
    left: -70px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 10;
}

/* Custom styles */

.corner-ribbon.sticky{
    position: absolute;
}

.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Fonts */

@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster%201.4.otf');
    font-weight: normal;
    font-style: normal;
}

.lobster-font{
    font-family:'Lobster';
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

/* Basics */

.row-space {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.vertical-rule {
    background-color: #cccccc;
    width: 1px;
    height: 100%;
    left: 0;
    right: 0;
}

.parent-element {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Header */

.header {
    top:10px;
    background-color: #0ea79c;
    height: 50px;
    line-height: 50px;
}

.button-header {
    margin-right: 10px;
    border-radius: 2px;
    color: white;
    border: solid #ffffff 1px;
    background: #0ea79c;
    top: 10px;
}

.button-header > span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.pure-menu-list {
    width:0;
    right: 200px;
}

/* Banner */

.jumbo-banner-green {
    height: 300px;
    background-image: -ms-linear-gradient(left, #27D4AD 0%, #78F4B9 100%);
    background-image: -moz-linear-gradient(left, #27D4AD 0%, #78F4B9 100%);
    background-image: -o-linear-gradient(left, #27D4AD 0%, #78F4B9 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #27D4AD), color-stop(1, #78F4B9));
    background-image: -webkit-linear-gradient(left, #27D4AD 0%, #78F4B9 100%);
    background-image: linear-gradient(to right, #27D4AD 0%, #78F4B9 100%);
}

.jumbo-banner-icon {
    height: 150px;
    width: 150px;
}

.jumbo-banner-text {
    color: white;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.center-container {
    position: relative;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.center-text-container {
    top: 20px;
}

.grey-well {
    height: 200px;
    background-color: #f2f2f2;
}

.info-text {
    color: #383838;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/* OK */

.my-icon {
    vertical-align: middle;
    font-size: 40px;
}

.my-text {
    font-family: "Courier-new";
}

.my-fancy-container {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    margin: 60px;
    padding: 10px;
}

/* Buttons */

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: #d4274e;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

